<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/style.css">
    
    <title>{{title}}</title>
</head>
    <body>
        <link rel="stylesheet" href="/static/style.css">
        <header>
            <nav>
                <ul class="menu">
                    <ul><a href="/">Home</a></ul>
                    <ul><a href="/champions">Champions</a></ul>
                    <ul><a href="/about">About</a></ul>
                </ul>
            </nav>
        </header>
                {% block content %}
                {% endblock %}
    </body>

</html>