{% extends "base.html" %}
{% block content %}


    <video  autoplay loop muted>
        <source src="/static/home.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>

    <footer>
        <div class="footer">
            <nav>
                <ul class="menu">
                    <ul><a href="https://www.leagueoflegends.com/en-gb/news/">News</a></ul>
                    <ul><a href="https://lolesports.com/en">LOL Esports</a></ul>
                    <ul><a href="https://status.riotgames.com/?locale=en_US">Server Status</a></ul>
                    <ul><a href="https://www.leagueoflegends.com/en-gb/news/tags/patch-notes/">Patch Notes</a></ul>
                </ul>
            </nav>
        </div>
    </footer>

{% endblock %}
