{% extends "base.html" %}
{% block content %}




<table>
    <h1>Champions</h1>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Class</th>
    <th>Release Date</th>
  </tr>
  <tr>
        {% for champion in champions %}
    <td><a href="/champions/{{ champion.id }}"> {{champion.champion_name}} </a></td>
    <td>{{ champion.champion_title }}</td>
    <td>{{ champion.champion_class }}</td>
    <td>{{ champion.release_date }}</td>
  </tr>
  {% endfor %}

</table>

<div class=add_button>
    <p>
        <a href="/champions/new">Add a Champion</a>
    </p>
</div>

{% endblock %}