

<p> This is the new champion Page.</p>

<form action="/champions" method="post">
  <div>
    <label for="champion_name">Name:</label>
    <input type="text" id="champion_name" name="champion_name" required autofocus>
  </div>

  <div>
    <label for="champion_title">Title:</label>
    <input type="text" id="champion_title" name="champion_title">
  </div>

  <div>
    <label for="class">Class:</label>
    <input type="text" id="champion_class" name="champion_class">
  </div>

  <div>
    <label for="release_date">Release date:</label>
    <input type="text" id="release_date" name="release_date">
  </div>

  <button type="submit">Add champion</button>

</form>